.todo__filter{
    display: flex;
    justify-content: space-between;

    margin-left: 10px;

    width: 100%;
}

.todo__filter-btn{
    padding: 0 10px;

    width: auto;
    height: 100%;

    background: none;
    border: 1px solid #cdcdcd;
    border-radius: 3px;

    font-size: 14px;
}

.todo__filter-btn:focus,
.todo__filter-btn:active,
.todo__filter-btn:hover{
    color: #ffffff;

    outline: none;
    border: none;
    border-radius: 3px;

    background: green;
}